$color-main-bg: white;
// $color-perso: #ED79BC;
// $color-perso: #D2A469;
// $color-perso: #3F4420;
// $color-perso: #64523C;
// $color-perso: #857E61;
$color-perso: #FF6542;
// $color-background: rgb(237	121 188 / 0.7);
// $color-background: rgb(210, 164, 105 / 0.7);
// $color-background: #138DCD;
// $color-background: #62798A;
$color-background: #4B719F;
$color-background-cart: #DCDCDC;