.categories {
    display: flex;
    height: 50vh;
    gap: 10px;
    margin: 10px;

    .column {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }
    .columnLarge {
        flex: 2;
    }
    .row {
        display: flex;
        flex: 1;
        gap: 10px;
        position: relative;
        overflow: hidden;

        button {
            position: absolute;
            min-width: 100px;
            width: fit-content;
            height: 50px;
            padding: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            border: none;
            // background-color: white;
            background-color: transparent;
            text-transform: uppercase;
            font-weight: 500;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.featured {
    width: 100%;
    background-color: #8ACDEA;
    button {
        font-size: 2rem;
    }
}
.trending {
    width: 100%;
    background-color: #857E61;
    button {
        font-size: 2rem;
    }
}
.clothes {
    width: 100%;
    background-color: #FF6542;
    button {
        font-size: 2rem;
    }
}
.accessories {
    width: 100%;
    background-color: #EDD83D;
    button {
        font-size: 2rem;
    }
}