.featured {
    margin: 100px 100px;
    @media screen and (max-width: 1200px) {
        margin: 50px 40px;
    }
    @media screen and (max-width: 1000px) {
        margin: 40px 30px;
    }
    @media screen and (max-width: 800px) {
        margin: 30px 20px;
    }
    @media screen and (max-width: 600px) {
        margin: 30px 10px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 50px;
        margin: 50px 0;
        gap: 50px;
        h1:first-letter {
            text-transform: capitalize;
        }
        h1 {
            flex: 2;
            @media screen and (max-width: 1000px) {
                font-size: 18px;
            }
            @media screen and (max-width: 800px) {
                text-align: center;
            }
            @media screen and (max-width: 600px) {
                margin: 0 0 50px 0;
            }
        }
        p {
            flex: 2; 
            @media screen and (max-width: 1000px) {
                font-size: 16px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
        }
    }
    .bottom {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 50px;
        a {
            align-self: center;
            justify-self: center;
        }
    }
}