.featured {
    margin: 100px 200px;
    // overflow-x: hidden; 

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        h1:first-letter {
            text-transform: capitalize;
        }

        h1 {
            flex: 2;
        }

        p {
            flex: 2; 
        }
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // justify-items: center;
        // justify-content: center;
        // gap: 50px;
    }
}