:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  max-width: 100vw;
  /* Fix of the non working position: sticky; */
  /* overflow-x: hidden;  */
  font-family: var(--font-mono);
  /* color: $color-text; */
  /* background-color: $color-main-bg; */
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
.active {
  /* text-decoration: underline;
  /* font-weight: 600; */
  /* color: #ED79BC; 
  background-color: white; */
  /* background-color: #ED79BC; */
  /* background-color: #D2A469; */
  /* background-color: #3F4420; */
  /* background-color: #64523C; */
  background-color: #FF6542;
  /* opacity: .9; */
  color: white;
}

@media screen and (max-width: 700px) {
  .active {
    background-color: transparent;
    font-weight: 600;
  }
 }