@import 'colors';

.product {
    padding: 50px 50px;
    display: flex;
    gap: 50px;
    @media screen and (max-width: 1200px) {
        padding: 50px 40px;
        gap: 40px;
    }
    @media screen and (max-width: 1000px) {
        padding: 40px 20px;
        gap: 20px;
    }
    @media screen and (max-width: 800px) {
        // flex-direction: column-reverse;
        flex-direction: column;
        padding: 30px 10px;
    }

    .left {
        flex: 1;
        display: flex;
        gap: 10px;
        @media screen and (max-width: 1000px) {
            gap: 10px;
        }
        @media screen and (max-width: 600px) {
            gap: 5px;
            flex-direction: row-reverse;
        }
        
        .images {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px; 
            @media screen and (max-width: 600px) {
                gap: 5px;
            }
            .image {
                display: block;
                width: 100%;
                height: 80px;
                object-fit: cover;
                cursor: pointer;
                @media screen and (max-width: 1000px) {
                    max-height: 70px;
                }
                // @media screen and (max-width: 800px) {
                //     max-height: 40px;
                // }
                @media screen and (max-width: 600px) {
                    max-height: 40px;
                }
            }
        }
        .mainImage {
            flex: 5;

            .image {
                width: 100%;
                max-height: 710px;
                object-fit: cover;
                @media screen and (max-width: 1000px) {
                    max-height: 630px;
                }
                // @media screen and (max-width: 800px) {
                //     max-height: 400px;
                // }
                @media screen and (max-width: 600px) {
                    max-height: 355px;
                }
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width: 1000px) {
            gap: 15px;
        }
        @media screen and (max-width: 800px) {
            gap: 10px;
        }
        h1 {
            @media screen and (max-width: 1000px) {
                font-size: 25px;
            }
            @media screen and (max-width: 800px) {
                font-size: 20px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
        }
        .price {
            font-size: 30px;
            font-weight: 500;
            color: $color-perso;
            @media screen and (max-width: 1000px) {
                font-size: 20px;   
            }
            @media screen and (max-width: 800px) {
                font-size: 15px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
            @media screen and (max-width: 800px) {
                font-size: 15px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
        }
        .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            @media screen and (max-width: 800px) {
                font-size: 15px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
            button {
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none; 
                @media screen and (max-width: 800px) {
                    width: 40px;
                    height: 40px;
                }
                @media screen and (max-width: 600px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .addToCart {
            width: 250px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            border: none;
            background-color: $color-perso;
            color: white;
            font-weight: 500;
            margin-bottom: 20px;
            @media screen and (max-width: 800px) {
                font-size: 15px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
            .icon {
                font-size: 20px;
                @media screen and (max-width: 800px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }
        }
        .links {
            display: flex;
            gap: 20px;

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                color: $color-perso;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            span { 
                color: grey;
                font-size: 14px;
                margin-top: 30px;
                display: flex;
                @media screen and (max-width: 1000px) {
                    margin-top: 15px;
                }
                @media screen and (max-width: 800px) {
                    margin-top: 10px;
                }
            }
            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                color: gray;
                div {
                    color: gray;
                }
                @media screen and (max-width: 800px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
                .icon {
                    font-size: 20px;
                    @media screen and (max-width: 800px) {
                        font-size: 17px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 16px;
                    }
                }
            }
            hr {
                width: 200px;
                border: 1px solid rgb(243, 239, 239);
            }
        }
        hr {
            border: 1px solid rgb(243, 239, 239);
        }
    }
}