.products {
    padding: 30px 50px;
    display: flex;
    height: 100%; //
    position: relative; // ajouté 
    // overflow-x: hidden; 
    
    .left {
        flex: 1;
        position: sticky; // ne fonctionne pas 
        align-self: flex-start; // ajouté 
        top: 50px;
        height: 100%;
        // padding-right: 50px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem {
                margin-bottom: 10px;

                label {
                    margin-left: 10px;
                }
            }
        }
    }
    .right {
        flex: 3; 

        .categoriesImage {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}